version: '3.8'

services:
  cdn:
    build:
      context: .
      dockerfile: docker/Dockerfile.cdn

    ports:
      - "8001:80"

    volumes:
      - ./min:/usr/share/nginx/html

  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.test

    ports:
      - "8000:80"

    depends_on:
      - cdn

    environment:
      - CDN_URL=http://cdn:80

    volumes:
      - ./test-example:/usr/share/nginx/html